{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2>Sale Details #{{ sale.id }}</h2>
    <p>Date: {{ sale.date }}</p>

    <h3>Items</h3>

    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>

        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total: {{ total }}</h3>

</div>

{% endblock %}